.tox .tox-menu .tox-collection__item {
  padding: 8px 12px; /* Adjust padding */
}

.app-typography {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: justify;
}
.app-typography--h1 {
  font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-typography--h2 {
  font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-typography--h3 {
  font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-typography--h4 {
  font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-typography--h5 {
  font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-typography--h6 {
  font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-typography--concept {
  font-family: "Arial Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 80px;
  line-height: 129px;
}
.app-typography--h1 {
  font-size: 48px;
  line-height: 78px;
}
.app-typography--h2 {
  font-size: 40px;
  line-height: 65px;
}
.app-typography--h3 {
  font-size: 36px;
  line-height: 58px;
}
.app-typography--h4 {
  font-size: 32px;
  line-height: 52px;
}
.app-typography--h5 {
  font-size: 24px;
  line-height: 39px;
}
.app-typography--h6 {
  font-size: 20px;
  line-height: 32px;
}
.app-typography--body {
  font-size: 16px;
  line-height: 26px;
}
.app-typography--subtitle,
.app-typography--subtitle-small {
  text-transform: uppercase;
}
.app-typography--subtitle {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 8px;
}
.app-typography--subtitle-small {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 6px;
}
.app-typography--accent {
  font-size: 20px;
  line-height: 32px;
}
.app-typography--caption {
  font-size: 12px;
  line-height: 19px;
}
.app-typography--bold {
  font-weight: bold;
}
.app-typography--oblique {
  font-style: oblique;
}
.app-typography--underline {
  text-decoration: underline;
}
.app-typography--inline {
  display: inline;
}
