@use '@/styles/colors/variables' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    span{
      margin-left: auto;
    }
  }
  textarea, input{
    background-color: $bg-secondary;
  }
}

