@use "design-system/colors" as *;

.form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  & > :nth-child(2) {
    margin-bottom: 24px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .app-form-control__helper-text {
      margin-left: auto;
    }
  }

  textarea,
  input {
    background-color: $color-transparent;
  }
}
