@mixin setup-font($font-size, $coef: 1.42857) { // use golden ratio
  font-size: $font-size;
  line-height: $font-size * $coef;
}

.app-typography {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  text-align: justify;
  letter-spacing: normal;

  @for $i from 1 through 6 {
    &--h#{$i} {
      font-family: "Arial Black", sans-serif;
    }
  }

  &--concept {
    font-family: "Arial Black", sans-serif;
    @include setup-font(80px, 1.7);
  }

  &--h1 {
    @include setup-font(48px, 1.7);
  }

  &--h2 {
    @include setup-font(40px, 1.7);
  }

  &--h3 {
    @include setup-font(36px, 1.7);
  }

  &--h4 {
    @include setup-font(32px, 1.7);
  }

  &--h5 {
    @include setup-font(24px, 1.7);
  }

  &--h6 {
    @include setup-font(20px, 1.7);
  }

  &--body {
    @include setup-font(16px);
  }

  &--subtitle,
  &--subtitle-small {
    text-transform: uppercase;
  }

  &--subtitle {
    @include setup-font(16px);
    letter-spacing: 7.68px; // 48% from 16px
  }

  &--subtitle-small {
    @include setup-font(12px);
    letter-spacing: 5.76px; // 48% from 12px
  }

  &--accent {
    @include setup-font(20px);
  }

  &--caption {
    @include setup-font(12px);
  }

  &--bold {
    font-weight: bold;
  }

  &--oblique {
    font-style: oblique;
  }

  &--underline {
    text-decoration: underline;
  }

  &--inline {
    display: inline;
  }
}
