@use "design-system/colors" as *;

.app-modal__overlay {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: $color-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
