@use "design-system/colors" as *;

$icon-size: 20px;

.app-input {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;

  &__filled input {
    border: 1px solid $bg-primary;
  }

  // TODO: add visible styles for focus state
  &__underlined input {
    border: none;
    border-bottom: 1px solid $bg-primary;

    &:focus-visible {
      outline: none;
    }
  }

  &--full-width {
    width: 100%;

    .app-input__adornments-wrapper {
      align-self: stretch;
    }
  }

  &__adornments-wrapper {
    position: relative;
    align-self: flex-start;

    &:has(.app-input__start-adornment) {
      input {
        padding-left: 48px;
      }
    }

    &:has(.app-input__end-adornment) {
      input {
        padding-right: 48px;
      }
    }
  }

  &__adornment {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $icon-size;
    height: $icon-size;
  }

  &__start-adornment {
    left: 16px;
  }

  &__end-adornment {
    right: 16px;
  }

  input {
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    box-sizing: border-box;
    width: 100%;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
