$bg-primary: #000;
$bg-secondary: transparent;
$bg-secondary-hover: rgba(153, 146, 134, 0.2);
$bg-secondary-focus: rgba(140, 126, 98, 0.3);
$bg-secondary-press: rgba(153, 146, 134, 0.3);
$border-secondary-press: rgba(0, 0, 0, 0.75);
$border-secondary-loading: #000;
$text-primary: #fff;
$text-secondary: #000;
$helper-text-color: #b5b4b1;
$helper-text-color: #b5b4b1;
$error-color: #ed4646;
