// Primary colors
$color-background-primary: #f8ebe1;
$color-background-secondary: #f9f2e5;
$color-primary: #000000;
$color-secondary: #ffffff;
$color-secondary-dark: #8c7e62;
$color-accent: #f8852d;
$color-muted: #b5b4b1;
$color-error: #ed4646;
$color-success: #7fbe61;

// Derived colors
$color-input-focus: rgba($color-primary, 0.05);
$color-transparent: transparent;
