@use "./variables" as *;

:export {
  bgPrimary: $bg-primary;
  bgSecondary: $bg-secondary;
  bgSecondaryHover: $bg-secondary-hover;
  bgSecondaryFocus: $bg-secondary-focus;
  bgSecondaryPress: $bg-secondary-press;
  borderSecondaryPress: $border-secondary-press;
  borderSecondaryLoading: $border-secondary-loading;
  textPrimary: $text-primary;
  textSecondary: $text-secondary;
}
