@use "design-system/colors" as *;
.booking-page {
  display: flex;
  justify-content: center;
  background-color: $color-background-secondary;

  &__section {
    max-width: 1000px;
    width: 100%;
    margin: 140px 10px 48px;
  }
}
